/* custom css */
.pin {
  position: absolute;
  background: url(./assets/Ellipse_10.svg) no-repeat;
  left: 50;
  top: 40%;
  z-index: 1000;
}

.pie-circle-container {
  text-align: center;
  margin-bottom: 100px; /* Adjust as needed */
}

.pie-circle {
  position: relative;
  border-radius: 50%;
  background-color: #f0f0f0;
  overflow: hidden;
  border: 10px solid #fff;
}

.congrats{
  background-image: url(/assets/Congratulations.gif) !important;
}

#swal2-title{
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
}

div:where(.swal2-container).swal2-backdrop-show{
  background: #D9D9D9CC 80% !important;
}

.swal2-popup, .swal2-confirm{
  border-radius: 15px !important;
}

.swal2-confirm{
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
}